<ion-content>
	<div class="swiper-container" style="height:250px">
		<div class="overlay-gallery" style="height:250px; line-height:250px; background-color:#f9f9f9; text-align:center; font-family:Calibri; font-size:12px; font-weight:bold;">
			Loading...
		</div>
	    <div class="swiper-wrapper">
			<div class="swiper-slide" ng-repeat="row_gallery in data.list" style="box-shadow: 10px 10px 5px #888888;">
		        <a href="javascript:;"><img src="{{ upload_url + row_gallery.images }}" alt="{{ row_gallery.name }}" style="width:100%; height:100%;"></a>
		    </div>
		</div>

	    <!-- Add Pagination -->
	    <div class="swiper-pagination"></div>
	    <!-- Add Arrows -->
	    <div class="swiper-button-next"></div>
	    <div class="swiper-button-prev"></div>
	</div>

	<div class="content list_apartment">
		<div class="item-apart" ng-repeat="row in data.list">
			<div class="background"><img src="{{ upload_url + row.images }}"></div>
			<div class="description">
				<span class="name">{{ row.name }}</span>
				<a href="#/app/class_communities_details/{{ row.id }}" class="btn btn-info btn-sm pull-right">Details</a>
			</div>
		</div>
	</div>

</ion-content>


<script>
$(document).ready(function(){
	setTimeout(function(){
	    var swiper = new Swiper('.swiper-container', {
	        nextButton: '.swiper-button-next',
	        prevButton: '.swiper-button-prev',
	        pagination: '.swiper-pagination',
	        paginationClickable: true,
	        preloadImages: true,
	        lazyLoading: true
	    });
	    $('.overlay-gallery').fadeOut('slow');
	}, 5000);
})
</script>