<div class="container apartment-page">
	<ion-content style="margin-top:40px;">
	<div class="list">
	    <span class="item">
	      <h2>PSM Number</h2>
	      <p>{{ data.psm_number }}</p>
	    </span>
	    <span class="item">
	      <h2>FUll Name</h2>
	      <p>{{ data.fullname }}</p>
	    </span>
	    <span class="item">
	      <h2>Your Apartment</h2>
	      <p>{{ data.apartment }}</p>
	    </span>
	    <span class="item">
	      <h2>Duration</h2>
	      <p>{{ data.duration }}</p>
	    </span>
	    <span class="item">
	      <h2>Term Of Payment</h2>
	      <p>{{ data.term_payment }}</p>
	    </span>
	    <span class="item">
	      <h2>Next Payment</h2>
	      <p>{{ data.next_payment }}</p>
	    </span>
	    <span class="item">
	      <h2>Billing Info</h2>
	      <p>{{ data.billing_info }}</p>
	    </span>
	</div>

	<button class="button button-full button-assertive" ng-click="logoutConfirm()">Logout</button>
	</ion-content>
</div>